[user]
	name = Chris Bain
	email = baincd@users.noreply.github.com
[core]
	# Set Notepad++ as editor in git
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	# Set vi as editor in git
	editor = vi
[push]
	default = upstream
[rebase]
	autosquash = true
[credential]
	# Windows http - Use windows to cache credentials
	helper = wincred
	# Linux http- use git cache to cache credentials
	helper = cache
	helper = cache --timeout=3600 # change the timeout from the default 15 mins to 60 mins
	# ssh - use ssh-cache bash alias
[gc]
	auto = 256
[color "status"]
	added = green # default
	changed = red bold # Changed from red
	untracked = yellow # Changed from red

# For aliases, see git-aliases
