/* Override reveal.css */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

/* Custom */
.reveal .h1 {
  font-weight: 600;
  font-size: 105px;
}

.reveal .h2 {
  font-weight: 600;
  font-size: 67.2px;
}

.reveal .h3 {
  font-weight: 600;
  font-size: 54.6px;
}

.reveal .h4,
.reveal .h5,
.reveal .h6, {
  font-weight: 600;
  font-size: 42px;
}

.always-highlight-red {
  color: #ff2c2d;
}

.always-highlight-green {
  color: #17ff2e;
}

.always-highlight-blue {
  color: #1b91ff;
}
